<div class="content">
  <div class="mb-5 text-center head">
    <h1>Edit Technologies</h1>
  </div>
  <div class="contain ml-3 mr-3">
    <div class="grid-parent">
      <mat-card *ngFor="let tech of technologies">
        <mat-card-header>
          <mat-card-title
            ><strong>{{ tech.techName }}</strong></mat-card-title
          >
          <mat-card-subtitle>{{
            tech.price | currency: "INR":"symbol"
          }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{ tech.logo }}" />
        <mat-card-content>
          <p>{{ tech.description }}</p>
          <p><small class="text-muted">Duration</small></p>
          <p>{{ tech.duration }} days</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Edit</button>
          <button mat-button>Change Fee</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <div class="mb-5 mt-5 text-center head">
    <h1>Add Technologies</h1>
  </div>

  <div class="contain">
    <mat-card class="form-card">
      <form>
        <mat-form-field class="example-full-width">
          <input matInput [(ngModel)]="technology.techName" name="techName" placeholder="Technology" />
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <textarea matInput [(ngModel)]="technology.description" name="description" placeholder="Description"></textarea>
        </mat-form-field>
        <!-- <mat-form-field class="example-full-width">
          <mat-select placeholder="Domain">
            <mat-option *ngFor="let domain of domains" [value]="domain.value">
              {{ domain.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field> -->
        <mat-form-field class="example-full-width">
          <span matPrefix>&#8377; &nbsp;</span>
          <input type="number" matInput [(ngModel)]="technology.price" name="price" placeholder="Price" />
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input type="number" matInput [(ngModel)]="technology.duration" name="duration" placeholder="Duration (in days)" />
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput [(ngModel)]="technology.logo" name="logo" placeholder="Logo" />
        </mat-form-field>
        <button mat-raised-button (click)="addTechnology()">Add Technology</button>
      </form>
    </mat-card>
  </div>
</div>
