.content {
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  background-size: cover;
  background-repeat: repeat-x repeat-y;
  background-position: inherit;
  width: 100vw;
  min-height: 100vh;
}

.container {
  /* height: 80vh; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-parent {
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25vw, auto));
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 20px;
}

.mat-card-image {
  height: 25vh;
  /* max-width:25vw;
  max-height:25vh;
  width: auto;
  height: auto;
  margin: 0 auto; */
}
.mat-button {
  color: #d81b60;
}
.mat-raised-button {
  background-color: #d81b60;
  color: white;
  text-transform: uppercase;
  width: 25vw;
}


.form-card {
  margin-bottom: 5vh;
  margin-top: 5vh;
}

form {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mat-form-field {
  width: 35vw;
}

.mat-raised-button {
  background-color: #d81b60;
  width: 20vw;
  color: white;
}

.mat-button:hover {
  text-decoration: none;
}

.mat-button {
  background-color: #d81b60;
  color: white;
}

/* div.form-row {
  width: 70vw;
  margin-top: 5vh;
  flex-wrap: column wrap;
  display: flex;
} */
.card-img-top {
  height: 40vh;
}