<div class="content">
  <div class="mb-5 text-center head">
    <h1>
      Ongoing Trainings - {{ whoLoggedIn.firstName }} {{ whoLoggedIn.lastName }}
    </h1>
  </div>

  <div class="example-container mat-elevation-z8">
    <div class="example-header">
      <mat-form-field>
        <input
          matInput
          (keyup)="applyFilter($event.target.value)"
          placeholder="Filter"
        />
      </mat-form-field>
    </div>

    <mat-table #table [dataSource]="dataSource" matSort>
      
      <!-- <ng-container matColumnDef="trainingId">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Training ID
        </mat-header-cell>
        <mat-cell *matCellDef="let training">
          {{ training.id }}
        </mat-cell>
      </ng-container> -->

      <ng-container matColumnDef="startDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Start Date
        </mat-header-cell>
        <mat-cell *matCellDef="let training">
          {{ training.startDate | date }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="endDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          End Date
        </mat-header-cell>
        <mat-cell *matCellDef="let training">
          {{ training.endDate | date }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="startTime">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Start Time
        </mat-header-cell>
        <mat-cell *matCellDef="let training">
          {{ training.startTime }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="endTime">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          End Time
        </mat-header-cell>
        <mat-cell *matCellDef="let training"> {{ training.endTime }} </mat-cell>
      </ng-container>

      <!-- <ng-container matColumnDef="createdAt">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Created At</mat-header-cell
        >
        <mat-cell *matCellDef="let training">
          {{ training.createdAt | date }}
        </mat-cell>
      </ng-container> -->

      <!-- <ng-container matColumnDef="updatedAt">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Updated At
        </mat-header-cell>
        <mat-cell *matCellDef="let training">
          {{ training.updatedAt | date }}
        </mat-cell>
      </ng-container> -->

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Status
        </mat-header-cell>
        <mat-cell *matCellDef="let training"> {{ training.status }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="progress">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Progress
        </mat-header-cell>
        <mat-cell *matCellDef="let training">
          <mat-progress-bar
            mode="determinate"
            value="{{ training.progress }}"
            color="accent"
          ></mat-progress-bar>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="fees">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Fees
        </mat-header-cell>
        <mat-cell *matCellDef="let training">
          {{ training.fees | currency: "INR":"symbol" }}
        </mat-cell>
      </ng-container>

      <!-- <ng-container matColumnDef="commisionAmount">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Commision Amount
        </mat-header-cell>
        <mat-cell *matCellDef="let training">
          {{ training.commisionAmount | currency: "INR":"symbol" }}
        </mat-cell>
      </ng-container> -->

      <ng-container matColumnDef="amountRecieved">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Amount Recieved
        </mat-header-cell>
        <mat-cell *matCellDef="let training">
          {{ training.amountRecieved | currency: "INR":"symbol" }}
        </mat-cell>
      </ng-container>

      <!-- <ng-container matColumnDef="razorPaymentId">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          razorPaymentId
        </mat-header-cell>
        <mat-cell *matCellDef="let training">
          {{ training.razorPaymentId }}
        </mat-cell>
      </ng-container> -->

      <ng-container matColumnDef="rating">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Rating
        </mat-header-cell>
        <mat-cell *matCellDef="let training">
          {{ training.rating }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="mentor">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          mentor
        </mat-header-cell>
        <mat-cell *matCellDef="let training">
          {{ training.mentor.firstName }} {{ training.mentor.lastName }}
        </mat-cell>
      </ng-container>

      <!-- <ng-container matColumnDef="user">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          User
        </mat-header-cell>
        <mat-cell *matCellDef="let training">
          {{ training.user[0].firstName }}
        </mat-cell>
      </ng-container> -->

      <ng-container matColumnDef="skill">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Skill
        </mat-header-cell>
        <mat-cell *matCellDef="let training">
          <ul *ngFor="let skill of training.skill">
            <li>{{skill.name}}</li>
          </ul>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="technology">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Technology
        </mat-header-cell>
        <mat-cell *matCellDef="let training">
          {{ training.technology.techName }}
        </mat-cell>
      </ng-container>

      <!-- <ng-container matColumnDef="payment">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Payment
        </mat-header-cell>
        <mat-cell *matCellDef="let training">
          {{ training.payment[0].id }}
        </mat-cell>
      </ng-container> -->

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

    <mat-paginator
      #paginator
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      [showFirstLastButtons]="true"
    >
    </mat-paginator>
  </div>
</div>
