<div class="content">
  <div class="container mb-3 bg-light rounded shadow-lg">
    <div class="py-5 text-center">
      <img
        class="d-block mx-auto mb-4"
        src="./../../../../assets/mod-logo.png"
        alt=""
        width="72"
        height="72"
      />
      <h2>Training Payment</h2>
    </div>

    <div class="row bg-light p-3 rounded mat-elevation-z8">
      <div class="col-md-4 order-md-2 mb-4">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span>Training Details</span>
        </h4>
        <ul class="list-group mb-3">
          <li
            class="list-group-item d-flex justify-content-between lh-condensed"
          >
            <div>
              <small class="text-muted">Mentor Name</small>
            </div>
            <span
              >{{ training.mentor.firstName }}
              {{ training.mentor.lastName }}</span
            >
          </li>
          <li
            class="list-group-item d-flex justify-content-between lh-condensed"
          >
            <div>
              <small class="text-muted">Technology</small>
            </div>
            <span>{{ training.technology.techName }}</span>
          </li>
          <li
            class="list-group-item d-flex justify-content-between lh-condensed"
          >
            <div>
              <small class="text-muted">Fees</small>
            </div>
            <span>{{ training.fees | currency: "INR":"symbol" }}</span>
          </li>
          <li
            class="list-group-item d-flex justify-content-between lh-condensed"
          >
            <div>
              <small class="text-muted">Start Date</small>
            </div>
            <span>{{ training.startDate | date }}</span>
          </li>
          <li
            class="list-group-item d-flex justify-content-between lh-condensed"
          >
            <div>
              <small class="text-muted">End Date</small>
            </div>
            <span>{{ training.endDate | date }}</span>
          </li>
          <li
            class="list-group-item d-flex justify-content-between lh-condensed"
          >
            <div>
              <small class="text-muted">Skills</small>
            </div>
            <ul *ngFor="let skill of training.skill">
              <li>{{ skill.name }}</li>
            </ul>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Total</span>
            <strong>{{ training.fees | currency: "INR":"symbol" }}</strong>
          </li>
        </ul>
      </div>

      <div class="col-md-8 order-md-1">
        <h4 class="mb-3">Billing address</h4>
        <form class="needs-validation" novalidate>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="firstName">First name</label>
              <h4>{{ whoLoggedIn.firstName }}</h4>
            </div>
            <div class="col-md-6 mb-3">
              <label for="lastName">Last name</label>
              <h4>{{ whoLoggedIn.lastName }}</h4>
            </div>
          </div>

          <div class="mb-3">
            <label for="username">Email</label>
            <h4>{{ whoLoggedIn.userName }}</h4>
          </div>

          <div class="mb-3">
            <mat-form-field>
              <textarea
                matInput
                type="text"
                class="form-control"
                id="address"
                placeholder="Address"
              ></textarea>
            </mat-form-field>
          </div>

          <div class="mb-3">
            <mat-form-field>
              <textarea
                matInput
                type="text"
                class="form-control"
                id="address"
                placeholder="Address 2 (Optional)"
              ></textarea>
            </mat-form-field>
          </div>

          <hr class="mb-4" />

          <h4 class="mb-3">Payment</h4>

          <div class="d-block my-3">
            <mat-radio-group
              class="example-radio-group"
              [(ngModel)]="payment.txnType"
              name = "txtType"
            >
              <mat-radio-button
                class="example-radio-button"
                *ngFor="let txnType of txnTypes"
                [value]="txnType.value"
              >
                {{ txnType.viewValue }}
              </mat-radio-button>
            </mat-radio-group>
          </div>
          <!-- <div class="row">
            <div class="col-md-6 mb-3">
              <mat-form-field>
                  <input
                    matInput
                    type="text"
                    id="address"
                    placeholder="Name on Card"
                  />
                </mat-form-field>
                <mat-hint align="start">As diplayed on card</mat-hint>
            </div>
            <div class="col-md-6 mb-3" *ngIf="payment.txnType === 'Credit Card'">
                <mat-form-field>
                <input
                matInput
                type="text"
                id="address"
                placeholder="Credit Card Number"
              />
            </mat-form-field>
            </div>
            <div class="col-md-6 mb-3" *ngIf="payment.txnType === 'Debit Card'">
                <mat-form-field>
                    <input
                    matInput
                    type="text"
                    id="address"
                    placeholder="Debit Card Number"
                  />
            </mat-form-field>
          </div>
          </div>
          <div class="row">
            <div class="col-md-3 mb-3">
                <mat-form-field>
                <input
                matInput
                type="number"
                min="1"
                max="12"
                placeholder="Expiration Month"
              />
              </mat-form-field>
            </div>
            <div class="col-md-3 mb-3">
                <mat-form-field>
                <input
                matInput
                type="number"
                min="2019"
                max="2100"
                maxlength="4"
                minlength="4"
                placeholder="Expiration Year"
              />
              </mat-form-field>
            </div>
            <div class="col-md-3 mb-3">
                <mat-form-field>
                <input
                matInput
                type="number"
                maxlength="3"
                minlength="3"
                placeholder="CVV"
              />
              </mat-form-field>
            </div>
          </div> -->
          <hr class="mb-4" />
          <button
            mat-button
            color="accent"
            (click)="pay()"
            class="btn btn-primary btn-lg btn-block"
            type="submit"
          >
            Pay
          </button>
        </form>
      </div>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">&copy; 2019 Mentor On Demand</p>
    </footer>
  </div>
</div>
