<div class="content">
  <div class="container align-items-center justify-content-center">
    <div class="mt-5 head">
      <h1>Edit Skills - Kent C Dodds</h1>
    </div>
    <div class="contain ml-3 mr-3">
      <div class="grid-parent">
        <mat-card *ngFor="let skill of skills">
          <mat-card-header>
            <mat-card-title
              ><strong
                ><h3>{{ skill.name }}</h3></strong
              ></mat-card-title
            >
          </mat-card-header>
          <img mat-card-image src="{{ skill.logo }}" />
          <mat-card-content>
            <div>
              <small>Prerequisites </small>
              <p>
                <strong>{{ skill.prerequisites }}</strong>
              </p>
            </div>
            <div>
              <small>Content</small>
              <p>
                <strong>{{ skill.toc }}</strong>
              </p>
            </div>
            <!-- <div>
              <small>No. Of Trainings</small>
              <p>
                <strong>{{ skill.numOfTrainings }}</strong>
              </p>
            </div> -->
          </mat-card-content>
          <mat-card-actions>
            <button mat-button color="accent">
              <mat-icon color="accent">edit</mat-icon> Edit
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>

    <div class="text-center head">
      <h1>Add Skill</h1>
    </div>

    <div class="contain">
      <mat-card class="form-card">
        <form>
          <mat-form-field class="example-full-width">
            <input matInput [(ngModel)]="skill.name" name="name" placeholder="Name of Skill" />
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput [(ngModel)]="skill.prerequisites" name="prerequisites" placeholder="Prerequisites" />
            <mat-hint align="start">Seperated with comma</mat-hint>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <textarea matInput [(ngModel)]="skill.toc" name="toc" placeholder="Contents" ></textarea>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput [(ngModel)]="skill.logo" name="logo" placeholder="Logo" />
          </mat-form-field>
          <button mat-raised-button (click)="addSkill()">Add Skill</button>
        </form>
      </mat-card>
    </div>
  </div>
</div>
